<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Propiedad</title>
</head>
<body>
    <div th:insert="html/layout-nav::nav">

    </div>
    </div>
    <!--<div class="container" th:object="${noticias}">
        <div name="image">
            <img th:src="@{/assets/{filename}(filename=*{imagen_noticia})}" th:alt="*{Titulo_Noticia}" class="img-fluid rounded w-100">
        </div>
        <div name="body">

        </div>
    </div>-->
    <footer th:insert="html/layout-footer::footer">
    </footer>
</body>
</html>