<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List Corredor</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>
<body>
    <div class="container">
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Cerrar Sesion" class="btn btn-danger">
        </form>
    </div>
    <section class="form-control search mb-0">
        <h3>Lista de Corredores</h3>
        <form th:action="@{/usuario}" method="get">
            <input type="text" name="filter">
            <input type="submit" value="buscar" class="btn btn-primary btn-sm">
        </form>
    </section>
    <a class="btn btn-primary" href="/user/create">Crear nuevo usuario</a>
    <table class="table">
        <tr>
            <th>Correo</th>
            <th>Nombre</th> 
            <th>Apellido</th>
            <th></th>
            <th></th>
        </tr>
        <tr th:each="usuario: ${users}">
            <td th:text="${usuario.correo}"></td>
            <td th:text="${usuario.nombre}"></td>
            <td th:text="${usuario.apellido}"></td>
            <td>
                <!--<a th:href="'/user/' +${usuario.id_user} +'/edit'" class="btn btn-warning btn-sm">Editar</a>-->
            </td>
            <td>
                <form th:action="@{/user/{id}/delete(id=${usuario.id_user})}" method="post">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="submit" value="delete" class="btn btn-danger btn-sn">
                </form>
            </td>
        </tr>
    </table>
</body>
</html>