<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Inicio</title>
</head>
<body>
    <div th:insert="html/layout-nav::nav">
    </div>
    <div class="container">
        <h1 class="text-success">
            ULTIMAS PROPIEDADES AGREGADAS 
        </h2>
    </div>
    <!--Tiene que ser mejorado a que sea ordenada por fecha-->
    <div class="container">
        <div class="row">
            <div class="col-md-3 my-5" th:each="propiedades : ${propiedades}" th:object="${propiedades}">
                <a th:href="@{/propiedades/}+${propiedades.id_propiedad}" class="card shadow-lg" style="text-decoration: none;">
                    <img th:src="@{/assets/{filename}(filename=*{imagenes_propiedad})}" class="card-img-top">
                    <div class="card-body">
                        <p class="card-title" th:text="*{Titulo_Propiedad}"></p>
                        <p class="card-body" th:text="Valor + ' ' + *{valor} + ' ' + UF"></p>
                     </div>
                </a>
            </div>
        </div>
        <h1 class="text-success">
            ULTIMAS NOTICIAS 
        </h2>
        <div class="row">
            <div class="col-md-3 my-5" th:each="noticias : ${noticias}" th:object="${noticias}">
                <a th:href="@{/noticia/}+${noticias.id_noticia}" class="card shadow-lg" style="text-decoration: none;">
                    <img th:src="@{/assets/{filename}(filename=*{imagen_noticia})}" class="card-img-top">
                    <div class="card-body">
                        <p th:text="*{Titulo_Noticia}"></p>
                     </div>
                </a>
            </div>
        </div>
    </div>
    </div>
    <footer th:insert="html/layout-footer::footer">
    </footer>
</body>
</html>