<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Propiedad</title>
</head>

<body>
    <div th:insert="html/layout-nav::nav">
    </div>
    <div class="container" th:object="${propiedad}">
        <div class="row">
            <div class="col-md-3 ms-md-auto">
                <h2 th:text="*{Titulo_Propiedad}" class="text text-center"></h2>
            </div>
            <div class="col-md-3 ms-md-auto">
                <h4 class="text-muted">Compartir en:</h4>
                <div class="icons">
                    <a href=""><i class="fab fa-facebook-f"></i></a>
                    <a href=""><i class="fab fa-instagram"></i></a>
                    <a href=""><i class="fab fa-whatsapp"></i></a>
                    <a href=""><i class="fab fa-tiktok"></i></a>
                </div>
            </div>
        </div>
        <div name="row">
            <img th:src="@{/assets/{filename}(filename=*{imagenes_propiedad})}" th:alt="*{Titulo_Propiedad}"
                class="rounded mx-auto d-block" width="500px" height="auto" alt="Aristos-propiedades"
                style="margin-top: 10px; margin-bottom: 10px;">
        </div>
        <div name="body row">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <td>
                            <p><strong>Habitaciones</strong></p>
                        </td>
                        <td>
                            <p th:text="*{habitaciones}"></p>
                        </td>
                        <td>
                            <p><strong>Valor</p></strong>
                        </td>
                        <td>
                            <p th:text="*{valor} + ' ' + UF"></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p><strong>Baños</strong></p>
                        </td>
                        <td>
                            <p th:text="*{banios}"></p>
                        </td>
                        <td>
                            <p><strong>Terrazas</p></strong>
                        </td>
                        <td>
                            <p th:text="*{terrazas}"></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p><strong>Quincho</strong></p>
                        </td>
                        <td>
                            <p th:text="*{quincho}"></p>
                        </td>
                        <td>
                            <p><strong>M2 Construidos</p></strong>
                        </td>
                        <td>
                            <p th:text="*{m2_construidos} + ' ' + M2"></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p><strong>M2 Terreno</strong></p>
                        </td>
                        <td>
                            <p th:text="*{m2_terreno}"></p>
                        </td>
                        <td>
                            <p><strong>Estacionamiento</p></strong>
                        </td>
                        <td>
                            <p th:text="*{estacionamiento}"></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p><strong>Tipo de propiedad</strong></p>
                        </td>
                        <td>
                            <p th:each="tipo_propiedad : ${tipopropiedad}" th:text="${tipo_propiedad.tipo_de_propiedad}"></p>
                        </td>
                        <td>
                            <p><strong>Estado de Propiedad</p></strong>
                        </td>
                        <td>
                            <p th:each="estado_venta_arriendo : ${estadoventa}" th:text="${estado_venta_arriendo.Estado}"></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p><strong>Patio</strong></p>
                        </td>
                        <td>
                            <p th:text="Patio + *{patio}"></p>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                    </tr>
                </tbody>
            </table>
            <p th:text="Ubicacion + *{ubicacion}"></p>
        </div>
    </div>
    <footer th:insert="html/layout-footer::footer">
    </footer>
</body>

</html>