<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Propiedad</title>
</head>
<body>
    <div th:insert="html/layout-nav::nav">
    </div>
    <div class="container" th:object="${propiedad}">
        <div name="image">
            <img th:src="@{/assets/{filename}(filename=*{imagenes_propiedad})}" th:alt="*{Titulo_Propiedad}" class="img-fluid rounded w-100">
        </div>
        <div name="body">
            <h2 th:text="*{Titulo_Propiedad}" class="text text-center"></h2>
            <p th:text="Valor + *{valor}"></p>
            <p th:text="Baños + *{banios}"></p>
            <p th:text="Habitaciones + *{habitaciones}"></p>
            <p th:text="Terrazas + *{terrazas}"></p>
            <p th:text="Quincho + *{quincho}"></p>
            <p th:text="M2_Construidos + *{m2_construidos}"></p>
            <p th:text="M2_de_Terreno + *{m2_terreno}"></p>
            <p th:text="Estacionamiento + *{estacionamiento}"></p>
            <p th:text="Patio + *{patio}"></p>
            <p th:text="Ubicacion + *{ubicacion}"></p>
            <p th:each="estado_venta_arriendo : ${estadoventa}" th:text="${estado_venta_arriendo.Estado}"></p>
            <p th:each="tipo_propiedad : ${tipopropiedad}" th:text="${tipo_propiedad.tipo_de_propiedad}"></p>
        </div>
    </div>
    </div>
    <footer th:insert="html/layout-footer::footer">
    </footer>
</body>
</html>